asn1crypto==0.24.0
cryptography==2.3
enum34==1.1.6
eyeD3==0.8.12
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pathlib==1.0.1
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.27.5
python-magic==0.4.15
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
youtube-dl==2020.3.8
pyquery==1.4.1

